/* This is the main css file */

/* FONTS */

@font-face {
    font-family: 'Ubuntu-Font-Light';
    src: url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

.letra-ubuntu {
    font-family: Ubuntu-Font-Light, "Roboto Light", serif;
}

/* Temas */

.theme-black {
    color: white;
}

.theme-white{
    color: black;
}

/* header */

header{
    height: 60vh;
    background-image: url("../assets/img/fondoInicio.jpg");
    background-position: center;
    display: flex;
    align-items: center;
}

.fondo-transparente-negro {
    background-color: rgba(27, 23, 25, 0.8);
    height: 70px;
    margin: auto;
    color: white;
}

/* NavBar */

.color-blanco{
    color: white;
}
.color-blanco:hover{
    color: rgba(234, 225, 230, 0.07);
}
.navbar {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    padding: 10px;
    z-index: 100;
}
#custom-end{
    justify-content: end;
}
.navbar-nav {
    margin-left: auto;
}